<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>JPHomeController</string>
		<key>classTitle</key>
		<string>首页</string>
		<key>imageName</key>
		<string>home</string>
		<key>visitorInfo</key>
		<dict>
			<key>imageName</key>
			<string></string>
			<key>tipTitle</key>
			<string>关注一些人,回这里看看有什么惊喜!!!</string>
		</dict>
	</dict>
	<dict>
		<key>className</key>
		<string>JPMessageController</string>
		<key>classTitle</key>
		<string>消息</string>
		<key>imageName</key>
		<string>message_center</string>
		<key>visitorInfo</key>
		<dict>
			<key>imageName</key>
			<string>visitordiscover_image_message</string>
			<key>tipTitle</key>
			<string>登录后,别人评论你的微薄,发给你的消息,都会在这里收到通知!!!</string>
		</dict>
	</dict>
	<dict>
		<key>className</key>
		<string>UIViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>JPDiscoverController</string>
		<key>classTitle</key>
		<string>发现</string>
		<key>imageName</key>
		<string>discover</string>
		<key>visitorInfo</key>
		<dict>
			<key>imageName</key>
			<string>visitordiscover_image_message</string>
			<key>tipTitle</key>
			<string>登录后,最新最热微博尽在掌握,不再会与实事潮流擦肩而过!!!</string>
		</dict>
	</dict>
	<dict>
		<key>className</key>
		<string>JPProfileController</string>
		<key>classTitle</key>
		<string>我</string>
		<key>imageName</key>
		<string>profile</string>
		<key>visitorInfo</key>
		<dict>
			<key>imageName</key>
			<string>visitordiscover_image_profile</string>
			<key>tipTitle</key>
			<string>登录后,你的微博,相册,个人信息资料会显示在这里,展示给别人看!!!</string>
		</dict>
	</dict>
</array>
</plist>
